@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --light-gray-cyan: hsl(180, 52%, 96%);
  --light-gray-cyan-tablet: hsl(180, 31%, 95%);
  --dark-gray-cyan: hsl(180, 8%, 52%);
  --darker-gray-cyan: hsl(180, 14%, 20%);
}

body {
  background: var(--light-gray-cyan);
  font-family: 'League Spartan', sans-serif;
  margin: 0;
}